<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>今日の献立候補は・・・</h1>
	<label><input type="checkbox" id="meat" value="肉系">肉系</label>
	<label><input type="checkbox" id="fish" value="魚系">魚系</label>
	<label><input type="checkbox" id="vegetable" value="野菜系">野菜系</label>
    <button onclick="generateMealPlan()">献立をランダムで決める</button>
    <div id="meal-results"></div>
    <script src="/js/mealPlan.js"></script>
</body>
</html>
